@mixin background-image($filename) {
    background-image: url('../../images/modules/media/' + $filename);
}
body {
    overflow: auto;
}
.media-toolbar {
    height: 2.29rem;
    margin-bottom: 0.71rem;
}
.media-toolbar-inner {
    display: flex;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #e5e5e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    button {
        width: 2.29rem;
        height: 2.29rem;
        border: 0;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center center;
        background-size: auto 50%;
    }
}
.media-loop {
    @include background-image('loop.svg');
}
.media-single {
    @include background-image('loop-single.svg');
}
.media-vol-min {
    @include background-image('vol-min.svg');
}
.media-vol-max {
    @include background-image('vol.svg');
}
.media-vol {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 0.71rem;
    padding-left: 0.71rem;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 60%;
        border-left: 1px solid #979797;
        transform: translateY(-50%);
    }
}
.media-vol-range {
    width: 8rem;
}
.media-item {
    float: left;
    position: relative;
    width: 25%;
    padding: 0.5rem;
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.media-poster {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.media-item-bd {
    position: relative;
    padding-top: 56%;
    margin-bottom: 0.5rem;
    background-color: #D8D8D8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        content: "";
        position: absolute;
        right: 0.2rem;
        top: 0.2rem;
        width: 1.2rem;
        height: 1.2rem;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.media-video:before {
    @include background-image('video.svg');
}
.media-audio {
    background-color: #DCB672;
    &:before {
        @include background-image('audio.svg');
    }
}
.media-control {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .media-item-bd:hover &,
    .media-playing & {
        display: flex;
    }
    button {
        width: 1.6rem;
        height: 1.6rem;
        border: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.media-play {
    @include background-image('play.svg');
}
.media-pause {
    @include background-image('pause.svg');
}
.media-overlay {
    position: fixed;
    z-index: 100;
    background: #000;
    &, video {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    video {
        position: absolute;
    }
    .media-play,
    .media-pause {
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 6rem;
        height: 6rem;
        border: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.media-back {
    position: absolute;
    left: 1rem;
    top: 1rem;
    border: 0;
    width: 1.2rem;
    height: 1.2rem;
    background: no-repeat center center;
    background-size: contain;
    @include background-image('back.svg');
}
.video-control {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #f6f6f6;
    font-size: 12px;
    button {
        width: 32px;
        height: 32px;
        border: 0;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center center;
        background-size: auto 50%;
    }
    span {
        display: flex;
        padding-left: 4px;
        color: #5a5a5a;
    }
}
.video-title {
    display: block;
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px;
}
.video-control-loop {
    @include background-image('loop.svg');
}
.video-control-single {
    @include background-image('loop-single.svg');
}
.video-control-play {
    @include background-image('ctrl-play.svg');
}
.video-control-pause {
    @include background-image('ctrl-pause.svg');
}
.video-control-vol {
    position: relative;
    height: 100%;
}
.video-control-vol-bd {
    @include background-image('vol.svg');
}
.video-control-vol-range {
    position: absolute;
    right: 0;
    bottom: 32px;
    width: 32px;
    height: 100px;
    appearance: slider-vertical;
}
.video-control-timeline {
    flex-grow: 1;
    margin: 0 18px;
    appearance: slider-horizontal;
}
.video-control,
.media-back {
    opacity: 1;
    transition: all 0.5s;
    .media-autohide & {
        opacity: 0;
    }
}
