body {
  overflow: auto;
}

.media-toolbar {
  height: 2.29rem;
  margin-bottom: 0.71rem;
}

.media-toolbar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #e5e5e5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.media-toolbar-inner button {
  width: 2.29rem;
  height: 2.29rem;
  border: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: auto 50%;
}

.media-loop {
  background-image: url("../../images/modules/media/loop.svg");
}

.media-single {
  background-image: url("../../images/modules/media/loop-single.svg");
}

.media-vol-min {
  background-image: url("../../images/modules/media/vol-min.svg");
}

.media-vol-max {
  background-image: url("../../images/modules/media/vol.svg");
}

.media-vol {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.71rem;
  padding-left: 0.71rem;
}
.media-vol:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 60%;
  border-left: 1px solid #979797;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.media-vol-range {
  width: 8rem;
}

.media-item {
  float: left;
  position: relative;
  width: 25%;
  padding: 0.5rem;
}
.media-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-poster {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.media-item-bd {
  position: relative;
  padding-top: 56%;
  margin-bottom: 0.5rem;
  background-color: #D8D8D8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
}
.media-item-bd video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.media-item-bd:before {
  content: "";
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.media-video:before {
  background-image: url("../../images/modules/media/video.svg");
}

.media-audio {
  background-color: #DCB672;
}
.media-audio:before {
  background-image: url("../../images/modules/media/audio.svg");
}

.media-control {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.media-item-bd:hover .media-control, .media-playing .media-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.media-control button {
  width: 1.6rem;
  height: 1.6rem;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.media-play {
  background-image: url("../../images/modules/media/play.svg");
}

.media-pause {
  background-image: url("../../images/modules/media/pause.svg");
}

.media-overlay {
  position: fixed;
  z-index: 100;
  background: #000;
}
.media-overlay, .media-overlay video {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.media-overlay video {
  position: absolute;
}
.media-overlay .media-play,
.media-overlay .media-pause {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 6rem;
  height: 6rem;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.media-back {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: no-repeat center center;
  background-size: contain;
  background-image: url("../../images/modules/media/back.svg");
}

.video-control {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: #f6f6f6;
  font-size: 12px;
}
.video-control button {
  width: 32px;
  height: 32px;
  border: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: auto 50%;
}
.video-control span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4px;
  color: #5a5a5a;
}

.video-title {
  display: block;
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px;
}

.video-control-loop {
  background-image: url("../../images/modules/media/loop.svg");
}

.video-control-single {
  background-image: url("../../images/modules/media/loop-single.svg");
}

.video-control-play {
  background-image: url("../../images/modules/media/ctrl-play.svg");
}

.video-control-pause {
  background-image: url("../../images/modules/media/ctrl-pause.svg");
}

.video-control-vol {
  position: relative;
  height: 100%;
}

.video-control-vol-bd {
  background-image: url("../../images/modules/media/vol.svg");
}

.video-control-vol-range {
  position: absolute;
  right: 0;
  bottom: 32px;
  width: 32px;
  height: 100px;
  -webkit-appearance: slider-vertical;
     -moz-appearance: slider-vertical;
          appearance: slider-vertical;
}

.video-control-timeline {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 18px;
  -webkit-appearance: slider-horizontal;
     -moz-appearance: slider-horizontal;
          appearance: slider-horizontal;
}

.video-control,
.media-back {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.media-autohide .video-control, .media-autohide
.media-back {
  opacity: 0;
}
