<section class="ctrl">
    <button class="ctrl-item ctrl-light" :class="{'ctrl-light-selected': lightSelected}" type="button" title="主照明" @click="lightSelected = !lightSelected"></button>
    <button class="ctrl-item ctrl-atmosphere" :class="{'ctrl-atmosphere-selected': atmosphereSelected}" type="button" title="氛围灯" @click="atmosphereSelected = !atmosphereSelected"></button>
    <div class="ctrl-item ctrl-image ctrl-media" :class="{'ctrl-media-selected': mediaSelected}">
        <button class="ctrl-item-hd ctrl-media-hd" type="button" @click="mediaSelected = !mediaSelected"></button>
        <div class="ctrl-dropdown" :style="{overflow: overflow}" @mousewheel="smoothScroll">
            <button type="button" class="ctrl-close" title="关闭" @click="mediaSelected = false">&times;</button>
            <form action="" @submit.prevent="saveWelcome">
                <div class="ctrl-welcome">
                    <textarea v-model="welcome.content" cols="30" rows="3" :style="welcome.style" placeholder="输入欢迎文字"></textarea>
                    <ul class="ctrl-style">
                        <li>
                            <div class="ctrl-style-inner">
                                <div class="ctrl-style-hd">{{(welcome.style['font-family'] || '').slice(-2)}}</div>
                                <ul class="ctrl-style-dropdown" @click="hideDropdown($event)">
                                    <li><a href="" @click.prevent="setFontFamily('华文中宋')">华文中宋</a></li>
                                    <li><a href="" @click.prevent="setFontFamily('华文仿宋')">华文仿宋</a></li>
                                    <li><a href="" @click.prevent="setFontFamily('华文楷体')">华文楷体</a></li>
                                    <li><a href="" @click.prevent="setFontFamily('黑体')">黑体</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="ctrl-style-inner">
                                <div class="ctrl-style-hd">{{parseFloat(welcome.style['font-size'])}}</div>
                                <ul class="ctrl-style-dropdown" @click="hideDropdown($event)">
                                    <li><a href="" @click.prevent="setFontSize('48px')">48</a></li>
                                    <li><a href="" @click.prevent="setFontSize('56px')">56</a></li>
                                    <li><a href="" @click.prevent="setFontSize('64px')">64</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="ctrl-style-inner">
                                <div class="ctrl-style-hd" @click="toggleFontWeight">{{fontWeight}}</div>
                            </div>
                        </li>
                        <li>
                            <div class="ctrl-style-inner ctrl-color">
                                <div class="ctrl-style-hd" :style="{'background-color': welcome.style.color}"></div>
                                <ul class="ctrl-style-dropdown" @click="hideDropdown($event)">
                                    <li><a href="" @click.prevent="setColor('#E0AB14')"><i style="background-color: #E0AB14;"></i>黄色</a></li>
                                    <li><a href="" @click.prevent="setColor('#fff')"><i style="background-color: #fff;"></i>白色</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <button class="ctrl-welcome-submit" type="submit">提<br>交</button>
                </div>
            </form>
            <ul class="ctrl-media-bd">
                <li v-for="(item, index) in mediaList" @click="updateBg(item)">
                    <div v-if="item.type === 'image'" class="ctrl-media-image" :class="['ctrl-item-' + index % 3]" :style="{'background-image': 'url(' + item.url + ')'}"></div>
                    <div v-if="item.type === 'color'" class="ctrl-media-image" :class="['ctrl-item-' + index % 3]" :style="{'background-color': item.color}"></div>
                    <div v-if="item.type === 'video'" class="ctrl-media-video" :class="['ctrl-item-' + index % 3]">
                        <video class="video" :src="item.url"></video>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ctrl-item ctrl-view">
        <button class="ctrl-item-hd" type="button"></button>
        <ul class="ctrl-dropdown ctrl-view-bd">
            <li><router-link to="/frame?url=module-media.html">轮播</router-link></li>
            <li><router-link to="/frame?url=http%3A%2F%2Fmap.baidu.com">地图</router-link></li>
        </ul>
    </div>
    <button class="ctrl-item ctrl-restore" type="button" title="退出全屏" @click="exitFullscreen($event)"></button>
    <button class="ctrl-item ctrl-fullscreen" type="button" title="全屏" @click="requestFullscreen($event)"></button>
</section>