<section class="weather">
    <div class="weather-datetime">
        <div class="weather-date">2017年4月14日</div>
        <div class="weather-time">14:30</div>
    </div>
    <ul class="weather-detail">
        <li class="weather-temperature">25℃</li>
        <li class="weather-humidity">50%</li>
        <li class="weather-quality">良</li>
    </ul>
</section>