<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>海淀指挥车</title>
<link rel="stylesheet" href="style/all.css">
<script src="js/lib/jquery-3.2.1.js"></script>
<script src="js/lib/vue-2.3.3.js"></script>
<script src="js/lib/vue-router-2.5.3.js"></script>

<script src="js/common.js"></script>
<script src="js/routes.js"></script>

<script src="js/drag.js"></script>
<script src="js/frame.js"></script>

<script src="js/home/index.js"></script>
<script src="js/home/weather.js"></script>
<script src="js/home/ctrl.js"></script>

<script src="js/index/nav.js"></script>
<script src="js/index/bg-view.js"></script>
<script src="js/index/index.js"></script>
</head>

<body>
<div id="app" class="wrap">
    <aside>
        <div class="logo">
            <img src="images/logo.svg" alt="">
        </div>
        <component is="aside-nav"></component>
        
        <section v-if="frames === 3" class="layout" :class="['layout-selected-' + layout]">
            <div class="layout-item layout-item-3-left" @click="layout = '3-left'">
                <i></i>
                <i></i>
                <i></i>
            </div>
            <div class="layout-item layout-item-3-right" @click="layout = '3-right'">
                <i></i>
                <i></i>
                <i></i>
            </div>
        </section>
    </aside>

    <article class="main">
        <keep-alive>
            <component is="bg-view" :bg="bg"></component>
        </keep-alive>

        <keep-alive>
            <component v-show="isFrame" is="frame" class="main-bd"></component>
        </keep-alive>
        
        <keep-alive>
            <router-view class="main-bd"></router-view>
        </keep-alive>
    </article>
</div>
<script>
app.start();
</script>
</body>
</html>