<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>轮播</title>
<link rel="stylesheet" href="style/all.css">
<link rel="stylesheet" href="style/modules/media.css">
<script src="js/lib/jquery-3.2.1.js"></script>
<script src="js/lib/vue-2.3.3.js"></script>
<script src="js/common.js"></script>
<script src="js/modules/media.js"></script>
</head>

<body>
<div id="root">
    <div class="media-toolbar">
        <div class="media-toolbar-inner">
            <button type="button" :class="[overlay.loopSingle ? 'media-single' :  'media-loop']" @click="overlay.loopSingle = !overlay.loopSingle"></button>    
            <div class="media-vol">
                <button type="button" class="media-vol-min" @click="volume('-')"></button>
                <input v-model.number="overlay.volume" class="media-vol-range" type="range" step="any" min="0" max="1">
                <button type="button" class="media-vol-max" @click="volume('+')"></button>
            </div>
        </div>
    </div>

    <div class="media clearfix">
        <div v-for="(item, index) in list" class="media-item">
            <div class="media-item-bd" :class="['media-' + item.type]">
                <video v-if="item.type === 'video'" :src="item.url" preload="none" :poster="item.poster"></video>
                <template v-else-if="item.type === 'audio'">
                    <div class="media-poster" :style="{'background-image': 'url(' + item.poster + ')'}"></div>
                    <audio :ref="'audio-' + index" :src="item.url"
                        @loadedmetadata="setDuration($event.target, item)"
                        @ended="ended(item)"
                        preload="metadata"></audio>
                </template>
                <div class="media-control" @click="overlay.media = item">
                    <button class="media-play" type="button"></button>
                </div>
            </div>
            <p>
                {{item.text}}
                <template v-if="item.type === 'audio' && item.duration">{{item.duration + '"'}}</template>
            </p>
        </div>
    </div>    
    <div v-if="overlay.media" class="media-overlay" :class="{'media-autohide': btnStatus === 'hide'}" @mouseenter="showBtn" @mouseleave="hideBtn">
        <video v-if="overlay.media.type === 'video'" ref="media" :src="overlay.media.url"
            @playing="overlay.playing = true"
            @pause="overlay.playing = false"
            @ended="playNext"
            @canplay="canplay"
            @timeupdate="timeupdate"
            autoplay></video>
        <template v-else>
            <audio ref="media" :src="overlay.media.url"
                @playing="overlay.playing = true"
                @pause="overlay.playing = false"
                @ended="playNext"
                @canplay="canplay"
                @timeupdate="timeupdate"
                autoplay></audio>
            <div class="media-poster" :style="{'background-image': 'url(' + overlay.media.poster + ')'}"></div>
            <button @click="playpause" :class="[overlay.playing  ? 'media-pause' : 'media-play']" type="button"></button>    
        </template>

        <button @click="overlay.media = null" class="media-back" title="返回"></button>
        <div class="video-control">
            <em class="video-title">{{overlay.media.text}}</em>
            <button type="button" :class="[overlay.loopSingle ? 'video-control-single' : 'video-control-loop']" @click="overlay.loopSingle = !overlay.loopSingle"></button>
            <button type="button" :class="[overlay.playing ? 'video-control-pause' : 'video-control-play']" @click="playpause"></button>
            <span class="video-control-current-time">{{formatTime(overlay.currentTime)}}</span>
            <span class="video-control-remain">/ {{formatTime(overlay.duration - overlay.currentTime)}}</span>
            <input v-model.number="overlay.currentTime" type="range" class="video-control-timeline" 
                @change="updateTime($event)"
                step="any" min="0" :max="overlay.duration">
            <div class="video-control-vol">
                <button type="button" class="video-control-vol-bd" @click="overlay.showVolume = !overlay.showVolume"></button>
                <input v-if="overlay.showVolume" v-model.number="overlay.volume" type="range"
                    v-focus
                    @blur="hideVolumeRange"
                    @change="updateVolume"
                    class="video-control-vol-range" step="any" min="0" max="1">
            </div>
        </div>
    </div>
</div>
<script>
app.media.start();
</script>
</body>
</html>
