$fontfamily: "PingFangSC-Regular", "Microsoft YaHei", sans-serif;

// sass-lint:disable no-universal-selectors
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
ul, ol, li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
    &:hover {
        color: #000;
    }
}
img {
    border: 0;
}
em {
    font-style: normal;
}
button, input, select, textarea {
    font-family: $fontfamily;
    font-size: 100%;
}
button {
    cursor: pointer;
    &[disabled] {
        cursor: default;
    }
}
.clearfix:after {
    content: ".";
    display: block; 
    clear: both; 
    height: 0; 
    font-size: 0; 
    visibility: hidden;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border: 0;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0;
    border-radius: 0;
}
::-webkit-scrollbar-track:hover {
    background: #fafafa;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
body {
    color: #000;
    font-family: $fontfamily;
    line-height: 1.5;
}
html {
    font-size: 14px;
    @media (min-width: 1900px) {
        font-size: 32px;
    }
    @media (min-width: 3000px) {
        font-size: 48px;
    }
}
html,
body,
.wrap {
    height: 100%;
    overflow-y: hidden;
}
.wrap {
    display: flex;
    min-width: 500px;
}
aside {
    position: relative;
    z-index: 100;
    width: 6.7rem;
    flex-shrink: 0;
    background: #000;
}
.main {
    position: relative;
    flex-grow: 1;
    background: #333;
    &:-webkit-full-screen {
        width: 100%;
        height: 100%;
        .ctrl-restore {
            display: block;
        }
        .weather,
        .ctrl-fullscreen {
            display: none;
        }
    }
}
.logo {
    padding: 1.3rem 0;
    color: #fff;
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
}
nav {
    border-top: 1px solid;
    border-image: linear-gradient(to right, #1d2323 0%, #b1b1b1 50%, #1d2323 100%) 1;
}
.nav-bd {
    > li {
        border-top: 1px solid;
        border-image: linear-gradient(to right, rgba(29, 35, 36, 0.5) 0%, rgba(177, 177, 177, 0.5) 50%, rgba(29, 35, 36, 0.5) 100%) 1;
        &:first-child {
            border-top: 0;
        }
    }
}
.nav-item-hd {
    display: flex;
    position: relative;
    min-height: 4.3rem;
    padding: 1rem 0.5rem;
    color: rgba(255, 255, 255, 0.45);
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    &:before {
        position: absolute;
        left: 0;
        top: 50%;
        height: 85%;
        width: 0.15rem;
        background: #fff;
        transform: translateY(-50%);
    }
    &:hover {
        color: #fff;
    }
}
.nav-sub,
.nav-sub-icon {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
    a {
        display: block;
        color: #fff;
        &:hover {
            background: rgba(0, 0, 0, 0.25);
        }
    }
}
.nav-sub {
    a {
        padding: 0 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2rem;
    }
}
.nav-sub-item {
    text-indent: 1em;
}
.nav-sub-icon {
    li {
        border-top: 1px solid #979797;
        &:first-child {
            border-top: 0;
        }
    }
    a {
        position: relative;
        padding: 0.5rem 1rem 0.5rem 3rem;
    }
    em {
        display: block;
        font-size: 1.2rem;
    }
    p {
        font-size: 0.8rem;
        line-height: 2;
    }
    i {
        position: absolute;
        left: 0;
        top: 50%;
        width: 2rem;
        margin-left: 0.6rem;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: contain;
        &:after {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
}
.nav-icon-1 {
    background-image: url(../images/nav-1.svg);
}
.nav-icon-2 {
    background-image: url(../images/nav-2.svg);
}
.nav-icon-3 {
    background-image: url(../images/nav-3.svg);
}
.nav-bd > li:hover,
.nav-bd .selected,
.nav-bd > .router-link-exact-active {
    background: #000;
    > a {
        color: #fff;
    }
    ul {
        display: block;
        background: rgba(0, 0, 0, 0.3);
        width: 18rem;
    }
}
.nav-bd .selected,
.nav-bd .router-link-exact-active {
    > a {
        &:before {
            content: "";
        }
    }
}
.layout {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 0;
}
.layout-item {
    position: relative;
    width: 18%;
    cursor: pointer;
    margin: 0 4%;
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    i {
        position: absolute;
        background: #fff;
        border-radius: 15%;
        opacity: 0.25;
        width: 44%;
        height: 44%;
    }
}

[class~="layout-item-3"] {
    i {
        width: 45%;
        height: 45%;
    }
}
.layout-item-3-left i {
    &:nth-of-type(1) {
        height: 100%;
        left: 0;
        top: 0;
    }
    &:nth-of-type(2) {
        top: 0;
        right: 0;
    }
    &:nth-of-type(3) {
        bottom: 0;
        right: 0;
    }
}
.layout-item-3-right i {
    &:nth-of-type(1) {
        height: 100%;
        right: 0;
        top: 0;
    }
    &:nth-of-type(2) {
        top: 0;
        left: 0;
    }
    &:nth-of-type(3) {
        bottom: 0;
        left: 0;
    }
}
.layout-selected-3-left .layout-item-3-left ,
.layout-selected-3-right .layout-item-3-right {
    cursor: default;
    i {
        opacity: 0.55;
    }
}
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    min-height: 12rem;
    padding: 2rem;
    color: #fff;
    font-size: 6rem;
    text-shadow: 0.5px 0.5px 3px #000000;
    user-select: none;
    white-space: pre-wrap;
    text-align: center;
}
.weather {
    position: absolute;
    top: 2rem;
    right: 1rem;
    color: #fff;
    text-align: right;
    white-space: nowrap;
}
.weather-datetime {
    margin-bottom: 2rem;
}
.weather-time {
    font-size: 2rem;
}
.weather-detail {
    li {
        margin-bottom: 0.5rem;
        &:after {
            content: "";
            display: inline-block;
            position: relative;
            top: -1px;
            vertical-align: middle;
            width: 1rem;
            height: 1rem;
            margin-left: 0.3rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }
}
.weather-temperature:after {
    background-image: url(../images/temperature.svg);
}
.weather-humidity:after {
    background-image: url(../images/humidity.svg);
}
.weather-quality:after {
    background-image: url(../images/quality.svg);
}
.ctrl {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    display: flex;
    button {
        border: 0;
        &[disabled] {
            opacity: 0.5;
            cursor: default;
        }
    }
}
.ctrl-item, 
.ctrl-item-hd {
    width: 1.5rem;
    height: 1.5rem;
    background: no-repeat center center;
    background-size: contain;
}
.ctrl-item {
    margin-left: 1.5rem;
}
.ctrl-item-hd {
    display: block;
}
.ctrl-image {
    background-image: url(../images/ctrl-image.svg);
}
.ctrl-video {
    background-image: url(../images/ctrl-video.svg);
}
.ctrl-view {
    background-image: url(../images/ctrl-view.svg);
}
.ctrl-light {
    background-image: url(../images/light.svg);
}
.ctrl-light-selected {
    background-image: url(../images/light-selected.svg);
}
.ctrl-atmosphere {
    background-image: url(../images/atmosphere.svg);
}
.ctrl-atmosphere-selected {
    background-image: url(../images/atmosphere-selected.svg);
}
.ctrl-fullscreen {
    background-image: url(../images/ctrl-fullscreen.svg);
}
.ctrl-restore {
    display: none;
    background-image: url(../images/ctrl-restore.svg);
}
.ctrl-view {
    position: relative;
}
.ctrl-view-bd {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
%dropdown {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.3rem;
    padding: 0.3rem;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    transition: all 0s 0.2s;
    a {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        white-space: nowrap;
        text-align: center;
        &:hover {
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
        }
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        border-width: 0.5rem;
        border-style: solid;
        transform: translateX(-50%) rotate(45deg);
    }
}
.ctrl-dropdown {
    @extend %dropdown;
    bottom: 2.8rem;
    margin-bottom: -9999rem;
    &:after {
        bottom: -0.5rem;
        border-color: transparent rgba(255, 255, 255, 0.85) rgba(255, 255, 255, 0.85) transparent;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    }
    .ctrl-media-selected &,
    .ctrl-view:hover & {
        margin-bottom: 0;
    }
}
.ctrl-media {
    .ctrl-dropdown {
        width: 26rem;
        padding: 0.83rem;
        background: rgba(0, 0, 0, 0.45);
        transform: translateX(0);
        left: auto;
        right: 0;
        &:after {
            display: none;
        }
    }
}
.ctrl-media-hd {
    position: relative;
    z-index: 20;
    &:after {
        position: absolute;
        left: 50%;
        bottom: -9999rem;
        transform: translateX(-50%) translateY(50%) rotate(45deg);
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.45) transparent;
        box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.08);
        transition: bottom 0s 0.2s;
        content: "";
        .ctrl-media-selected &,
        .ctrl-view:hover & {
            bottom: 2.8rem;
        }
    }
}
.ctrl-media-bd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 24.5rem;
    max-height: 16rem;
    margin: 0 auto;
    overflow: auto;
    li {
        width: 32%;
        margin-top: 0.5rem;
        cursor: pointer;
        color: #fff;
        &:last-child.ctrl-item-1 {
            transform: translateX(-105%);
        }
    }
}
.ctrl-close {
    position: absolute;
    right: 3px;
    top: -3px;
    background: none;
    color: #fff;
}
.ctrl-welcome {
    position: relative;
    z-index: 10;
    display: flex;
    margin-top: 0.1rem;
    textarea {
        flex-grow: 1;
        border: 0;
        border-radius: 0.2rem;
        padding: 0.2rem 5.5rem 0.2rem 0.2rem;
        background: rgba(255, 255, 255, 0.3);
        resize: none;
        color: #fff;
        font-size: 0.8rem !important;
    }
}
.ctrl-style {
    position: absolute;
    right: 2.3rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 5rem;
    > li {
        width: 50%;
        padding: 0.18rem;
    }
}
.ctrl-style-inner {
    position: relative;
}
.ctrl-style-hd {
    border: 1px solid #fff;
    background: #fff;
    height: 1.43rem;
    line-height: 1.43rem;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}
.ctrl-style-dropdown {
    @extend %dropdown;
    top: 2.8rem;
    margin-top: -9999rem;
    max-height: 10rem;
    overflow: auto;
    &:after {
        top: -0.35rem;
        border-color: rgba(255, 255, 255, 0.85) transparent transparent rgba(255, 255, 255, 0.85);
        box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.2);
    }
    .ctrl-style-inner:hover {
        z-index: 10;
    }
    .ctrl-style-inner:hover & {
        margin-top: 0;
    }
}
.ctrl-color {
    a {
        overflow: hidden;
    }
    i {
        display: inline-block;
        width: 1.5em;
        height: 1.43em;
        border: 1px solid #ACACAC;
        margin-right: 0.36rem;
        vertical-align: middle;
    }
}
.ctrl-welcome-submit {
    width: 1.8rem;
    margin-left: 0.3rem;
    border-radius: 0.2rem;
    background: rgba(255, 255, 255, 0.7);
    font-size: 0.8rem;
}
.ctrl-media-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 4.5rem;
}
.ctrl-media-video {
    position: relative;
    height: 4.5rem;
    overflow: hidden;
}
.main-bg {
    overflow: hidden;
}
.main-bg,
.main-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.main-bg-image {
    background: no-repeat center center;
    background-size: cover;
}
.video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.bg-fade-enter-active,
.bg-fade-leave-active {
    transition: all 0.5s;
}
.bg-fade-enter,
.bg-fade-leave-to {
    opacity: 0;
}
.main-bd {
    position: relative;
    z-index: 10;
    height: 100%;
}
.frames {
    display: flex;
    padding: 1rem;
    .frame:-webkit-full-screen {
        width: 100%;
        height: 100%;
        .frame-restore {
            display: block;
        }
        .frame-fullscreen {
            display: none;
        }
    }
}
.frame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 1rem) / 2);
    border-radius: 0.4rem;
    padding: 0.2rem;
    background: rgba(255, 255, 255, 0.6);
    .frames-1 &,
    .frames-2 &,
    .frames-4 & {
        flex-grow: 1;
    }
    .frames-4 & {
        width: calc(50% - 1rem);
    }
}
.frames-2 .frame-order-2,
.frames-4 .frame-order-2 {
    margin-left: 1rem;
}
.frames-4 .frame-order-3 {
    margin-top: 1rem;
}
.frames-4 .frame-order-4 {
    margin: 1rem 0 0 1rem;
}
.frames-3 {
    .frame-order-1 {
        flex-grow: 1;
        height: 100%;
        margin-right: 1rem;
    }
    .frame-order-2,
    .frame-order-3 {
        height: calc((100% - 1rem) / 2);
    }
    .frame-order-3 {
        margin-left: calc(-1 * ((100% - 1rem) / 2));
        align-self: flex-end;
    }
}
.frames-3.frames-3-right {
    .frame-order-3 {
        flex-grow: 1;
        height: 100%;
        margin-left: 1rem;
    }
    .frame-order-2,
    .frame-order-1 {
        height: calc((100% - 1rem) / 2);
    }
    .frame-order-1 {
        margin-right: calc(-1 * ((100% - 1rem) / 2));
        align-self: flex-end;
    }
}
.frames-4 {
    flex-wrap: wrap;
    justify-content: space-between;
}
@for $i from 1 through 4 {
    .frame-order-#{$i} {
        order: $i;
    }
}
.frame-hd {
    position: relative;
    height: 1.6rem;
    cursor: move;
    h1 {
        text-align: center;
        line-height: 1.6rem;
    }
}
.frame-buttons {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    button {
        float: left;
        margin-left: 0.5rem;
        width: 1rem;
        height: 1rem;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.frame-up {
    background-image: url(../images/frame-up.svg);
    &:hover {
        background-image: url(../images/frame-up-hover.svg);
    }
}
.frame-down {
    background-image: url(../images/frame-down.svg);
    &:hover {
        background-image: url(../images/frame-down-hover.svg);
    }
}
.frame-fullscreen {
    background-image: url(../images/frame-fullscreen.svg);
    &:hover {
        background-image: url(../images/frame-fullscreen-hover.svg);
    }
}
.frame-restore {
    display: none;
    background-image: url(../images/frame-restore.svg);
    &:hover {
        background-image: url(../images/frame-restore-hover.svg);
    }
}
.frame-close {
    background-image: url(../images/frame-close.svg);
    &:hover {
        background-image: url(../images/frame-close-hover.svg);
    }
}
.frame-dragable {
    z-index: 10;
    .frame-overlay {
        display: block;
    }
}
.frame-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    background: rgba(255, 255, 255, 0.8);
    .frame-hd {
        background: rgba(255, 255, 255, 0.5);
    }
}
.frame-bd {
    display: flex;
    background: #fff;
    flex-grow: 1;
    iframe {
        width: 100%;
        flex-grow: 1;
    }
}
.qrcode {
    float: left;
    position: relative;
}
.qrcode-bd {
    position: absolute;
    left: 50%;
    top: 3rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
}
.qrcode-img {
    width: 4rem;
    height: 4rem;
    img {
        width: 100%;
        vertical-align: middle;
    }
}
.qrcode-text {
    text-align: center;
    color: #fff;
}


