* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

ul, ol, li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}

img {
  border: 0;
}

em {
  font-style: normal;
}

button, input, select, textarea {
  font-family: "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
  font-size: 100%;
}

button {
  cursor: pointer;
}
button[disabled] {
  cursor: default;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border: 0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0;
  border-radius: 0;
}

::-webkit-scrollbar-track:hover {
  background: #fafafa;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  color: #000;
  font-family: "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
  line-height: 1.5;
}

html {
  font-size: 14px;
}
@media (min-width: 1900px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 3000px) {
  html {
    font-size: 48px;
  }
}

html,
body,
.wrap {
  height: 100%;
  overflow-y: hidden;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 500px;
}

aside {
  position: relative;
  z-index: 100;
  width: 6.7rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #000;
}

.main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #333;
}
.main:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.main:-webkit-full-screen .ctrl-restore {
  display: block;
}
.main:-webkit-full-screen .weather,
.main:-webkit-full-screen .ctrl-fullscreen {
  display: none;
}

.logo {
  padding: 1.3rem 0;
  color: #fff;
  text-align: center;
}
.logo img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

nav {
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, #1d2323 0%, #b1b1b1 50%, #1d2323 100%) 1;
     border-image: -webkit-linear-gradient(left, #1d2323 0%, #b1b1b1 50%, #1d2323 100%) 1;
     border-image: linear-gradient(to right, #1d2323 0%, #b1b1b1 50%, #1d2323 100%) 1;
}

.nav-bd > li {
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, rgba(29, 35, 36, 0.5) 0%, rgba(177, 177, 177, 0.5) 50%, rgba(29, 35, 36, 0.5) 100%) 1;
     border-image: -webkit-linear-gradient(left, rgba(29, 35, 36, 0.5) 0%, rgba(177, 177, 177, 0.5) 50%, rgba(29, 35, 36, 0.5) 100%) 1;
     border-image: linear-gradient(to right, rgba(29, 35, 36, 0.5) 0%, rgba(177, 177, 177, 0.5) 50%, rgba(29, 35, 36, 0.5) 100%) 1;
}
.nav-bd > li:first-child {
  border-top: 0;
}

.nav-item-hd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 4.3rem;
  padding: 1rem 0.5rem;
  color: rgba(255, 255, 255, 0.45);
  line-height: 1.3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-item-hd:before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 85%;
  width: 0.15rem;
  background: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav-item-hd:hover {
  color: #fff;
}

.nav-sub,
.nav-sub-icon {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.nav-sub a,
.nav-sub-icon a {
  display: block;
  color: #fff;
}
.nav-sub a:hover,
.nav-sub-icon a:hover {
  background: rgba(0, 0, 0, 0.25);
}

.nav-sub a {
  padding: 0 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
}

.nav-sub-item {
  text-indent: 1em;
}

.nav-sub-icon li {
  border-top: 1px solid #979797;
}
.nav-sub-icon li:first-child {
  border-top: 0;
}
.nav-sub-icon a {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 3rem;
}
.nav-sub-icon em {
  display: block;
  font-size: 1.2rem;
}
.nav-sub-icon p {
  font-size: 0.8rem;
  line-height: 2;
}
.nav-sub-icon i {
  position: absolute;
  left: 0;
  top: 50%;
  width: 2rem;
  margin-left: 0.6rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-sub-icon i:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.nav-icon-1 {
  background-image: url(../images/nav-1.svg);
}

.nav-icon-2 {
  background-image: url(../images/nav-2.svg);
}

.nav-icon-3 {
  background-image: url(../images/nav-3.svg);
}

.nav-bd > li:hover,
.nav-bd .selected,
.nav-bd > .router-link-exact-active {
  background: #000;
}
.nav-bd > li:hover > a,
.nav-bd .selected > a,
.nav-bd > .router-link-exact-active > a {
  color: #fff;
}
.nav-bd > li:hover ul,
.nav-bd .selected ul,
.nav-bd > .router-link-exact-active ul {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  width: 18rem;
}

.nav-bd .selected > a:before,
.nav-bd .router-link-exact-active > a:before {
  content: "";
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 0;
}

.layout-item {
  position: relative;
  width: 18%;
  cursor: pointer;
  margin: 0 4%;
}
.layout-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.layout-item i {
  position: absolute;
  background: #fff;
  border-radius: 15%;
  opacity: 0.25;
  width: 44%;
  height: 44%;
}

[class~="layout-item-3"] i {
  width: 45%;
  height: 45%;
}

.layout-item-3-left i:nth-of-type(1) {
  height: 100%;
  left: 0;
  top: 0;
}
.layout-item-3-left i:nth-of-type(2) {
  top: 0;
  right: 0;
}
.layout-item-3-left i:nth-of-type(3) {
  bottom: 0;
  right: 0;
}

.layout-item-3-right i:nth-of-type(1) {
  height: 100%;
  right: 0;
  top: 0;
}
.layout-item-3-right i:nth-of-type(2) {
  top: 0;
  left: 0;
}
.layout-item-3-right i:nth-of-type(3) {
  bottom: 0;
  left: 0;
}

.layout-selected-3-left .layout-item-3-left,
.layout-selected-3-right .layout-item-3-right {
  cursor: default;
}
.layout-selected-3-left .layout-item-3-left i,
.layout-selected-3-right .layout-item-3-right i {
  opacity: 0.55;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 80%;
  min-height: 12rem;
  padding: 2rem;
  color: #fff;
  font-size: 6rem;
  text-shadow: 0.5px 0.5px 3px #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: pre-wrap;
  text-align: center;
}

.weather {
  position: absolute;
  top: 2rem;
  right: 1rem;
  color: #fff;
  text-align: right;
  white-space: nowrap;
}

.weather-datetime {
  margin-bottom: 2rem;
}

.weather-time {
  font-size: 2rem;
}

.weather-detail li {
  margin-bottom: 0.5rem;
}
.weather-detail li:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-left: 0.3rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.weather-temperature:after {
  background-image: url(../images/temperature.svg);
}

.weather-humidity:after {
  background-image: url(../images/humidity.svg);
}

.weather-quality:after {
  background-image: url(../images/quality.svg);
}

.ctrl {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ctrl button {
  border: 0;
}
.ctrl button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.ctrl-item,
.ctrl-item-hd {
  width: 1.5rem;
  height: 1.5rem;
  background: no-repeat center center;
  background-size: contain;
}

.ctrl-item {
  margin-left: 1.5rem;
}

.ctrl-item-hd {
  display: block;
}

.ctrl-image {
  background-image: url(../images/ctrl-image.svg);
}

.ctrl-video {
  background-image: url(../images/ctrl-video.svg);
}

.ctrl-view {
  background-image: url(../images/ctrl-view.svg);
}

.ctrl-light {
  background-image: url(../images/light.svg);
}

.ctrl-light-selected {
  background-image: url(../images/light-selected.svg);
}

.ctrl-atmosphere {
  background-image: url(../images/atmosphere.svg);
}

.ctrl-atmosphere-selected {
  background-image: url(../images/atmosphere-selected.svg);
}

.ctrl-fullscreen {
  background-image: url(../images/ctrl-fullscreen.svg);
}

.ctrl-restore {
  display: none;
  background-image: url(../images/ctrl-restore.svg);
}

.ctrl-view {
  position: relative;
}

.ctrl-view-bd {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.ctrl-dropdown, .ctrl-style-dropdown {
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0.3rem;
  padding: 0.3rem;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0s 0.2s;
  transition: all 0s 0.2s;
}
.ctrl-dropdown a, .ctrl-style-dropdown a {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  white-space: nowrap;
  text-align: center;
}
.ctrl-dropdown a:hover, .ctrl-style-dropdown a:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.ctrl-dropdown:after, .ctrl-style-dropdown:after {
  content: "";
  position: absolute;
  left: 50%;
  border-width: 0.5rem;
  border-style: solid;
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.ctrl-dropdown {
  bottom: 2.8rem;
  margin-bottom: -9999rem;
}
.ctrl-dropdown:after {
  bottom: -0.5rem;
  border-color: transparent rgba(255, 255, 255, 0.85) rgba(255, 255, 255, 0.85) transparent;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}
.ctrl-media-selected .ctrl-dropdown, .ctrl-view:hover .ctrl-dropdown {
  margin-bottom: 0;
}

.ctrl-media .ctrl-dropdown {
  width: 26rem;
  padding: 0.83rem;
  background: rgba(0, 0, 0, 0.45);
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  left: auto;
  right: 0;
}
.ctrl-media .ctrl-dropdown:after {
  display: none;
}

.ctrl-media-hd {
  position: relative;
  z-index: 20;
}
.ctrl-media-hd:after {
  position: absolute;
  left: 50%;
  bottom: -9999rem;
  -webkit-transform: translateX(-50%) translateY(50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(50%) rotate(45deg);
          transform: translateX(-50%) translateY(50%) rotate(45deg);
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.45) transparent;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.08);
  -webkit-transition: bottom 0s 0.2s;
  transition: bottom 0s 0.2s;
  content: "";
}
.ctrl-media-selected .ctrl-media-hd:after, .ctrl-view:hover .ctrl-media-hd:after {
  bottom: 2.8rem;
}

.ctrl-media-bd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 24.5rem;
  max-height: 16rem;
  margin: 0 auto;
  overflow: auto;
}
.ctrl-media-bd li {
  width: 32%;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #fff;
}
.ctrl-media-bd li:last-child.ctrl-item-1 {
  -webkit-transform: translateX(-105%);
      -ms-transform: translateX(-105%);
          transform: translateX(-105%);
}

.ctrl-close {
  position: absolute;
  right: 3px;
  top: -3px;
  background: none;
  color: #fff;
}

.ctrl-welcome {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.1rem;
}
.ctrl-welcome textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  border-radius: 0.2rem;
  padding: 0.2rem 5.5rem 0.2rem 0.2rem;
  background: rgba(255, 255, 255, 0.3);
  resize: none;
  color: #fff;
  font-size: 0.8rem !important;
}

.ctrl-style {
  position: absolute;
  right: 2.3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 5rem;
}
.ctrl-style > li {
  width: 50%;
  padding: 0.18rem;
}

.ctrl-style-inner {
  position: relative;
}

.ctrl-style-hd {
  border: 1px solid #fff;
  background: #fff;
  height: 1.43rem;
  line-height: 1.43rem;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.ctrl-style-dropdown {
  top: 2.8rem;
  margin-top: -9999rem;
  max-height: 10rem;
  overflow: auto;
}
.ctrl-style-dropdown:after {
  top: -0.35rem;
  border-color: rgba(255, 255, 255, 0.85) transparent transparent rgba(255, 255, 255, 0.85);
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.2);
}
.ctrl-style-dropdown .ctrl-style-inner:hover {
  z-index: 10;
}
.ctrl-style-inner:hover .ctrl-style-dropdown {
  margin-top: 0;
}

.ctrl-color a {
  overflow: hidden;
}
.ctrl-color i {
  display: inline-block;
  width: 1.5em;
  height: 1.43em;
  border: 1px solid #ACACAC;
  margin-right: 0.36rem;
  vertical-align: middle;
}

.ctrl-welcome-submit {
  width: 1.8rem;
  margin-left: 0.3rem;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
}

.ctrl-media-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 4.5rem;
}

.ctrl-media-video {
  position: relative;
  height: 4.5rem;
  overflow: hidden;
}

.main-bg {
  overflow: hidden;
}

.main-bg,
.main-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.main-bg-image {
  background: no-repeat center center;
  background-size: cover;
}

.video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.bg-fade-enter-active,
.bg-fade-leave-active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bg-fade-enter,
.bg-fade-leave-to {
  opacity: 0;
}

.main-bd {
  position: relative;
  z-index: 10;
  height: 100%;
}

.frames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
.frames .frame:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.frames .frame:-webkit-full-screen .frame-restore {
  display: block;
}
.frames .frame:-webkit-full-screen .frame-fullscreen {
  display: none;
}

.frame {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 1rem) / 2);
  border-radius: 0.4rem;
  padding: 0.2rem;
  background: rgba(255, 255, 255, 0.6);
}
.frames-1 .frame, .frames-2 .frame, .frames-4 .frame {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.frames-4 .frame {
  width: calc(50% - 1rem);
}

.frames-2 .frame-order-2,
.frames-4 .frame-order-2 {
  margin-left: 1rem;
}

.frames-4 .frame-order-3 {
  margin-top: 1rem;
}

.frames-4 .frame-order-4 {
  margin: 1rem 0 0 1rem;
}

.frames-3 .frame-order-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  margin-right: 1rem;
}
.frames-3 .frame-order-2,
.frames-3 .frame-order-3 {
  height: calc((100% - 1rem) / 2);
}
.frames-3 .frame-order-3 {
  margin-left: calc(-1 * ((100% - 1rem) / 2));
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.frames-3.frames-3-right .frame-order-3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  margin-left: 1rem;
}
.frames-3.frames-3-right .frame-order-2,
.frames-3.frames-3-right .frame-order-1 {
  height: calc((100% - 1rem) / 2);
}
.frames-3.frames-3-right .frame-order-1 {
  margin-right: calc(-1 * ((100% - 1rem) / 2));
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.frames-4 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame-order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.frame-order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.frame-order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.frame-order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.frame-hd {
  position: relative;
  height: 1.6rem;
  cursor: move;
}
.frame-hd h1 {
  text-align: center;
  line-height: 1.6rem;
}

.frame-buttons {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.frame-buttons button {
  float: left;
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.frame-up {
  background-image: url(../images/frame-up.svg);
}
.frame-up:hover {
  background-image: url(../images/frame-up-hover.svg);
}

.frame-down {
  background-image: url(../images/frame-down.svg);
}
.frame-down:hover {
  background-image: url(../images/frame-down-hover.svg);
}

.frame-fullscreen {
  background-image: url(../images/frame-fullscreen.svg);
}
.frame-fullscreen:hover {
  background-image: url(../images/frame-fullscreen-hover.svg);
}

.frame-restore {
  display: none;
  background-image: url(../images/frame-restore.svg);
}
.frame-restore:hover {
  background-image: url(../images/frame-restore-hover.svg);
}

.frame-close {
  background-image: url(../images/frame-close.svg);
}
.frame-close:hover {
  background-image: url(../images/frame-close-hover.svg);
}

.frame-dragable {
  z-index: 10;
}
.frame-dragable .frame-overlay {
  display: block;
}

.frame-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.8);
}
.frame-overlay .frame-hd {
  background: rgba(255, 255, 255, 0.5);
}

.frame-bd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.frame-bd iframe {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.qrcode {
  float: left;
  position: relative;
}

.qrcode-bd {
  position: absolute;
  left: 50%;
  top: 3rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
}

.qrcode-img {
  width: 4rem;
  height: 4rem;
}
.qrcode-img img {
  width: 100%;
  vertical-align: middle;
}

.qrcode-text {
  text-align: center;
  color: #fff;
}
