<div class="main-bg">
    <transition name="bg-fade">
        <div class="main-bg-image" v-if="bg.type === 'image'" :style="{'background-image': 'url(' + bg.url + ')' }"></div>
    </transition>

    <transition name="bg-fade">
        <div class="main-bg-image" v-if="bg.type === 'color'" :style="{'background-color': bg.color }"></div>
    </transition>

    <transition name="bg-fade">
        <video class="video" v-if="bg.type === 'video'" :src="bg.url" autoplay loop></video>
    </transition>
</div>