<nav>
    <ul class="nav-bd">
        <router-link class="nav-home" :class="{selected: selected}" tag="li" :to="path">
            <a class="nav-item-hd">首页</a>
        </router-link>
        <li>
            <div class="nav-item-hd">业务系统</div>
            <ul class="nav-sub-icon" :style="{overflow: overflow}" @mousewheel="smoothScroll">
                <li>
                    <router-link to="/frame?url=http%3A%2F%2Fmap.baidu.com">
                        <i class="nav-icon-1"></i>
                        <em>城市眼</em>
                        <p>城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼城市眼</p>
                    </router-link>
                </li>
                <li>
                    <router-link to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s2880x1800c5%2Fg5%2FM00%2F08%2F0A%2FChMkJ1i9XIOINbe0AC-SP-ispxYAAae8QC_4c8AL5JX498.jpg">
                        <i class="nav-icon-2"></i>
                        <em>在线会商</em>
                        <p>在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商</p>
                    </router-link>
                </li>
                <li>
                    <router-link to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s2880x1800c5%2Fg5%2FM00%2F09%2F04%2FChMkJli-lj-IID8IADuGl9Vr-KYAAahfAHkf6wAO4av673.jpg"">
                        <i class="nav-icon-2"></i>
                        <em>在线会商</em>
                        <p>在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商在线会商</p>
                    </router-link>
                </li>
                <li v-for="n in 10">
                    <router-link to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s1920x1200c5%2Fg5%2FM00%2F0F%2F09%2FChMkJlauzYiIIU3UAFNltyuxFDQAAH9GAKkOzMAU2XP642.jpg">
                        <i class="nav-icon-3"></i>
                        <em>无人机{{n}}</em>
                        <p>无人机无人机无人机无人机无人机无人机无人机无人机无人机无人机无人机无人机无人机无人机无人机</p>
                    </router-link>
                </li>
            </ul>
        </li>
        <li>
            <div class="nav-item-hd">专项应急<br>指挥系统</div>
            <ul class="nav-sub" :style="{overflow: overflow}" @mousewheel="smoothScroll">
                <li v-for="n in 3"><router-link to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s1920x1200c5%2Fg5%2FM00%2F0F%2F09%2FChMkJlauzYaIBR5MACt_sCOBXasAAH9GAGBGAIAK3_I345.jpg">区城市公共设施事故应急指挥部{{n}}</router-link></li>
                <li v-for="n in 20"><router-link class="nav-sub-item" to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s1920x1200c5%2Fg5%2FM00%2F0F%2F09%2FChMkJlauzYaIBR5MACt_sCOBXasAAH9GAGBGAIAK3_I345.jpg">区城市公共设施事故应急指挥部{{n}}</router-link></li>

            </ul>
        </router-link>
        <li>
            <div class="nav-item-hd">应急预案</div>
            <ul class="nav-sub" :style="{overflow: overflow}" @mousewheel="smoothScroll">
                <li v-for="n in 2"><router-link to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s1920x1200c5%2Fg5%2FM00%2F0F%2F09%2FChMkJlauzYaIZxAyAC2Whtg2COMAAH9GAGtAoYALZae411.jpg">影响校园安全稳定事件应急预案{{n}}</router-link></li>
                <li v-for="n in 20"><router-link class="nav-sub-item" to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s1920x1200c5%2Fg5%2FM00%2F0F%2F09%2FChMkJlauzYaIZxAyAC2Whtg2COMAAH9GAGtAoYALZae411.jpg">影响校园安全稳定事件应急预案{{n}}</router-link></li>
            </ul>
        </li>
        <li>
            <div class="nav-item-hd" href="">车载设备</div>
            <ul class="nav-sub" :style="{overflow: overflow}" @mousewheel="smoothScroll">
                <li v-for="n in 2"><router-link to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s1920x1200c5%2Fg5%2FM00%2F0F%2F09%2FChMkJlauzYeIADqjAFOEumEcfRgAAH9GAJQtmEAU4TS956.jpg">车载设备{{n}}</router-link></li>
                <li v-for="n in 20"><router-link class="nav-sub-item" to="/frame?url=http%3A%2F%2Fdesk.fd.zol-img.com.cn%2Ft_s1920x1200c5%2Fg5%2FM00%2F0F%2F09%2FChMkJlauzYeIADqjAFOEumEcfRgAAH9GAJQtmEAU4TS956.jpg">车载设备{{n}}</router-link></li>
            </ul>
        </li>
    </ul>
</nav>
