<div class="frames" :class="['frames-' + list.length, 'frames-' + layout]">
    <article v-for="(src, index) in list" class="frame" :class="['frame-order-' + (order[index] + 1), index === dragIndex ? 'frame-dragable' : '']">
        <header class="frame-hd">
            <h1 @mousedown="dragFrame($event, index)">无人机</h1>

            <div class="frame-buttons">
                <div class="qrcode">
                    <button class="frame-down" type="button" title="下屏" @click="toggleDownQrcode(index)"></button>
                    <div v-if="showDownQrcode[index]" @blur="toggleDownQrcode(index)" class="qrcode-bd" tabindex="-1" v-focus>
                        <div class="qrcode-img">
                            <img src="http://qr.api.cli.im/qr?data=test%2Bqrcode&level=H&transparent=false&bgcolor=%23ffffff&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&size=280&kid=cliim&key=848d464c8e445fa3256643c6b11d9671" alt="">
                        </div>
                        <div class="qrcode-text">扫码下屏</div>
                    </div>
                </div>
                <button class="frame-up" type="button" title="上屏"></button>
                <button @click="exitFullscreen($event)" class="frame-restore" type="button" title="退出全屏"></button>
                <button @click="requestFullscreen($event)" class="frame-fullscreen" type="button" title="全屏"></button>
                <button @click="close(src)" class="frame-close" type="button" title="关闭"></button>
            </div>
        </header>
        <main class="frame-bd">
            <iframe :src="src" frameborder="0"></iframe>
        </main>

        <div class="frame-overlay">
            <header class="frame-hd">
                <h1>无人机</h1>
            </header>
        </div>
    </article>
</div>